<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoodsDonation</title>
</head>
<body>

<h3>Cześć <span data-th-text="${name}">Sebastian</span>,</h3>

<div>otrzymaliśmy prośbę o reset Twojego hasło do konta GoodsDonation.</div>
<div>Jeśli to byłeś Ty, kliknij w poniższy link, aby zresetować swoje hasło.
    <div>
        <h4><a href="activate.html"
                   th:href="@{http://localhost:8080/new-password(token=${token},email=${email})}">Resetuj
            hasło</a></h4>
        (Link może zostać użyty tylko raz a jego użycie umożliwi wpisanie własnego hasła. Link straci ważność po 24h.)
    </div>

</div>
<div style="margin-top: 3%">Jeśli to <strong>nie Ty</strong>, ktoś mógł przypadkowo wpisać nieprawidłowy adres (Twój) - możesz wtedy zignorować tę wiadomość,
    Twoje konto jest bezpieczne.
</div>


</body>
</html>